.navbar{
    overflow: hidden;
    color: rgb(154, 154, 154);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    padding: 2%;
    text-decoration: none;
}

.navbar hr {
    flex-grow: 1;
    height: 2px;
    border: none;
    background-color:rgb(230, 230, 230);
    margin: 6%;
}

.navbar a:hover {
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 640px) {
    .navbar{
        display: none;
    }

    /* .menu-toggle{
        font-family: sans-serif;
        font-size: 20px;
        text-align: center;
        margin-left: 50%;
        letter-spacing: 2px;
    } */
}